.container{
overflow-x:hidden;
overflow-y:hidden;
white-space: nowrap;
width:1150px;
length:300px;

}

.middleColumn{
display:block;
margin-left:15%;
margin-right:15%;
background:#ffffff;
width:auto;
}

.middleColumnGreek{
display:block;
margin-left:20%;
margin-right:20%;
background:#ffffff;
width:auto;
}
.nav{
background:#436a95;
}

.header{
background:#4181c7;
}

.headerNav{
font-family:Arial, sans-serif;
width:200px;
font-size:36px;
margin-left:7px;
margin-right:15px;
background:#4181c7;
text-decoration:none;
color:#ffffff;
transition: color 0.3s ease, background 0.3s ease;
}

.headerNav:hover{
background:#3a74b3;
color:#02adff;
}

.img{
border-left:50px solid transparent;
border-right:50px solid transparent;
padding:50px;
transition: transform 0.3s ease;
}

.img:hover{
transform: scale(1.3);
}

.container:hover{

}

.headerNavCounsil{
font-family:Arial, sans-serif;
width:200px;
font-size:36px;
margin-left:7px;
margin-right:7px;
background:#4181c7;
text-decoration:none;
color:#ffffff;
transition: color 0.3s ease, background 0.3s ease;
}

.headerNavCounsil:hover{
background:#3a74b3;
color:#02adff;
}
