.headerRoar{
background:#e8bc18;
}

.headerJox{
background:#5c3996;
}

.headerKappa{
background:#f7f48b;
}

.headerPNK{
background:#f06d7c;
}

.headerHiss{
background:#0e141a;
}
.headerSlugKappa{
background:#f190f5;
}



.navSlugKappa{
background:#f190f5;
color:#ffffff;
font-family:Arial, sans-serif;
font-size:36px;
text-decoration:none;
margin-left:7px;
margin-right:7px;
transition:background 0.3s ease;
}

.navSlugKappa:hover{
background:#cc7acf;
}

.navHiss{
background:#0e141a;
color:#ffffff;
font-family:Arial, sans-serif;
font-size:36px;
text-decoration:none;
margin-left:7px;
margin-right:7px;
transition: background 0.3s ease;
}

.navHiss:hover
{
background:#000000;
}

.navJox{
background:#5c3996;
color:#ffffff;
font-family:Arial, sans-serif;
font-size:36px;
text-decoration:none;
margin-left:7px;
margin-right:7px;
transition:background 0.3s ease;
}

.navJox:hover{
background:#362454;
}

.navPNK{
background:#f06d7c;
color:#ffffff;
font-family:Arial, sans-serif;
font-size:36px;
text-decoration:none;
margin-left:7px;
margin-right:7px;
transition: background 0.3s ease;
}

.navPNK:hover{
background:#c75a67;
}

.navKappa{
background:#f7f48b;
color:#ffffff;
font-family:Arial, sans-serif;
font-size:36px;
text-decoration:none;
margin-left:7px;
margin-right:7px;
transition: background 0.3s ease;
}

.navKappa:hover{
background:#c2bf69;
}

.navRoar{
background:#e8bc18;
color:#ffffff;
font-family:Arial, sans-serif;
font-size:36px;
text-decoration:none;
margin-left:7px;
margin-right:7px;
transition: background 0.3s ease;
}

.navRoar:hover{
background:#c29d1a;
}
