body {
	font-family: 'Righteous', sans-serif;
	height: 100vh;

	background:
	  url("monsters_logo_small.png") no-repeat top left,
	  linear-gradient(to bottom, #D7D9D3 0%, #D7D9D3 15%, transparent 15%, transparent 100%),
	  linear-gradient(to right, #93D5FB 0%, #93D5FB 24%, #007DC4 24%, #007DC4 100%);

	background-size: auto;
	color: black;


}

h1 { 
	text-align:center;
	font-size: 65px;

}

h2 {

	font-size: 35px;

}